.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  cursor: pointer;
}

/* header CSS  */
header {
  margin-top: 120px;
}

.logo {
  position: relative;
  width: 564px;
  height: 265px;
}

.logo img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo img:first-child {
  z-index: 10;
}
.logo img:last-child {
  z-index: 20;
}

/* main CSS */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* onehoursquote */
.onehoursquote {
  margin-top: 52px;
}

.onehoursquote img {
  width: 486px;
  height: 40px;
  aspect-ratio: 1/1;
  object-fit: contain;
}

.quotes {
  color: var(--text-color);
  position: relative;
  margin-top: 80px;
}

.quotes p {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 13px;
}

.quotes p:last-child {
  margin-bottom: 0px;
}

.quotes span {
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}

.quotes::before {
  position: absolute;
  top: 50%;
  left: 18px;
  transform: translate(-50%, -50%);
  content: url(./asset/images/quotes.png);
}
.quotes::after {
  position: absolute;
  top: 50%;
  right: -18px;
  transform: translate(-50%, -50%) rotate(180deg);
  content: url(./asset/images/quotes.png);
}

/* input-value */
.input-value {
  width: 771px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.input-value form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}

.input-value p {
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--text-color);
}

.input-value p:last-child {
  margin-top: 20px;
}

.input-value input {
  width: 228px;
  height: 56px;
  margin: 0 20px;
  border-radius: 8px;
  font-size: 24px;
  padding-top: 22px;
  padding-right: 31px;
  padding-bottom: 16px;
  padding-left: 40px;
  border: none;
}

.input-value input::placeholder {
  color: var(--input-text-color);
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}

.input-value button {
  background-color: var(--button-color);
  color: var(--button-text-color);
  margin-top: 120px;
  width: 567px;
  height: 64px;
  border: none;
  border-radius: 12px;
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}

.input-value button p {
  color: var(--button-text-color);
}

.input-value img {
  width: 64px;
  height: 72px;
  position: absolute;
  top: 266px;
  left: 676px;
}

/* output-value */
.output-value {
  margin-top: 142px;
  width: 663px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.output-value p {
  color: var(--text-color);
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}

.output-value p:last-child {
  margin-top: 20px;
}

.output-value span {
  margin: 0 12px;
  color: var(--text-color);
  font-weight: 700;
  font-size: 72px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}

/* linkto */
.linkto {
  margin-top: 120px;
}

.linkto ul {
  width: 570px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.linkto ul li a {
  display: inline-block;
  height: 64px;
  border-radius: 12px;
  text-decoration: none;
  background-color: white;
  font-size: 24px;
  font-weight: 700;
  padding: 20px 50px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}

.linkto ul li:first-child a {
  background-color: var(--button-color);
  width: 365px;
}

.linkto ul li:last-child a {
  background-color: #ffffff;
  width: 193px;
}

/* footer CSS */
footer {
  margin: 120px 0 106px 0;
  color: var(--text-color);
}

.copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.copyright dt img {
  width: 168px;
  height: 36px;
  aspect-ratio: 1/1;
  object-fit: contain;
}

.copyright dd {
  font-size: 12px;
}

.copyright dd:nth-child(2) {
  margin-top: 20px;
  margin-bottom: 3px;
}

@media screen and (max-width: 360px) {
  /* 360px header */
  header {
    margin-top: 64px;
  }

  .logo {
    width: 278px;
    height: 130px;
  }

  .logo img:nth-child(1) {
    width: 128.65px;
  }
  .logo img:nth-child(2) {
    width: 261.04px;
  }

  /* 360px onehoursquote */
  .onehoursquote {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
    width: 330px;
  }

  .onehoursquote img {
    width: 297px;
    height: 24px;
  }

  .quotes {
    margin-top: 32px;
  }

  .quotes p {
    font-size: 14px;
  }

  .quotes span {
    font-size: 14px;
  }

  .quotes::before,
  .quotes::after {
    content: "";
    background-image: url(./asset/images/quotes.png);
    background-size: 20px 18px;
    width: 20px;
    height: 18px;
  }

  .quotes::before {
    left: -12px;
  }
  .quotes::after {
    right: -32px;
  }

  /* 360px input-value */
  .input-value {
    margin-top: 60px;
  }

  .input-value form {
    width: 319px;
  }

  .hidden {
    display: block;
    margin: 12px 0;
  }

  .hidden-360px {
    display: none;
  }

  .input-value p {
    font-size: 14px;
  }

  .input-value p:last-child {
    margin-top: 0px;
  }

  .input-value input {
    width: 156px;
    height: 38px;
    margin: 0 8px;
    border-radius: 8px;
    font-size: 24px;
    padding-top: 18px;
    padding-right: 30px;
    padding-bottom: 16px;
    padding-left: 26px;
  }

  .input-value p:last-child input {
    margin-left: 0;
  }

  .input-value input::placeholder {
    font-size: 14px;
  }

  .input-value button {
    margin-top: 80px;
    width: 240px;
    height: 72px;
    font-size: 14px;
    padding: 20px 38px;
  }

  .input-value button p:last-child {
    margin: 4px 0 0 0;
  }

  .input-value img {
    width: 43px;
    height: 48px;
    position: absolute;
    top: 235px;
    left: 510px;
  }

  /* 360px output-value */
  .output-value {
    margin-top: 68px;
    width: 286px;
  }

  .output-value p {
    font-size: 12px;
  }

  .output-value p:last-child {
    margin-top: 16px;
  }

  .output-value span {
    font-size: 24px;
  }

  /* 360px linkto */
  .linkto {
    margin-top: 52px;
  }

  .linkto ul {
    width: 313px;
  }

  .linkto ul li a {
    height: 46px;
    font-size: 14px;
    padding: 16px 24px;
  }

  .linkto ul li:first-child a {
    width: 203px;
  }

  .linkto ul li:last-child a {
    width: 102px;
  }

  /* 360px footer */
  footer {
    margin: 60px 0 48px 0;
  }

  .copyright dt img {
    width: 125px;
    height: 28px;
    aspect-ratio: 1/1;
    object-fit: contain;
  }

  .copyright dd {
    font-size: 9px;
  }

  .copyright dd:nth-child(2) {
    margin-top: 12px;
    margin-bottom: 2px;
  }
}
